<template name="categoryList">
    <ul class="categories eightcol last">
            <li><a href="{{homePath this}}">All</a></li>
            <li><a href="{{homePath this}}">Air</a></li>
            <li><a href="{{homePath this}}">Camp</a></li>
            <li><a href="{{homePath this}}">Dirt</a></li>
            <li><a href="{{homePath this}}">Mountain</a></li>
            <li><a href="{{homePath this}}">Snow</a></li>
            <li><a href="{{homePath this}}">Street</a></li>
            <li><a href="{{homePath this}}">Water</a></li>
    </ul>
</template>
