@blue:#55a1ee;
@orange:#ff6600;
@lightGrey:#cccccc;
@darkGrey:#999999;
@red:#ee0000;

html, body {
    .backgroundImage('light_bg.png');
    .droid();
}
h1, h2, h3, h4, h5, h6 {
    .oswald();
}
a {
    color:@blue;
    text-decoration:none;
}
a:hover {
    color:@orange;
}
.container {
    .border(5px, solid, @lightGrey);
    .backgroundColor(white);
    width: 100%;
    max-width: 720px;
    margin:0 auto;
    margin-top:15px;
    margin-bottom:15px;
    .header {
    }
    .nav {
        border-top:5px solid @lightGrey;
        margin-top:-6px;
        .backgroundColor(@lightGrey);
        .categories {
            li {
                display:inline;
                a {
                    .oswald(normal, 24px, 40px);
                    color:black;
                    text-decoration:none;
                    padding:0 10px 2px 5px;
                }
                a:hover {
                    color:@blue;
                    .backgroundColor(white);
                }
                .active {
                    .backgroundColor(white);
                    color:@blue;
                }
            }
        }
        #category-icon {
            width:20px;
            display:none;
            cursor:pointer;
        }
        .account-controls {
            float:right;
            text-align:right;
            li {
                display:inline;
                a {
                    .oswald(normal, 20px, 40px);
                    color:@darkGrey;
                    text-decoration:none;
                    padding:0 5px 0 5px;
                }
                a:hover {
                    color:@blue;
                }
                .active {
                    .backgroundColor(white);
                    color:@blue;
                    padding-bottom:5px;
                }
            }
        }
    }
    .errors {
    }
    .main {
        position:relative;
        .back {
            .oswald(normal, 20px, 20px);
            color:@orange;
            padding:10px 0 0 15px;
        }
        .back:hover {
            color:@blue;
        }
        .account-modal {
            display:none;
            position:absolute;
            right:0;
            top:0;
            background-color:@lightGrey;
            padding:5px;
            input {
                display:block;
            }
            .login {
                display:none;
            }
            .register {
                display:none;
            }
        }
        .remove {
            .oswald(normal, 20px, 20px);
            color:@lightGrey;
        }
        .remove:hover {
            color:@red;
        }
        .posts {
            .post {
                padding:15px 30px 15px 20px;
                img {
                    .border(5px, solid, @lightGrey);
                }
                h3 {
                    a {
                        color:black;
                        text-decoration:none;
                    }
                    a:hover {
                        color:@blue;
                    }
                }
                .controls {
                    .oswald(normal, 20px, 20px);
                    padding:5px;
                    margin-top:5px;
                    border-top:3px solid @lightGrey;
                    border-bottom:3px solid @lightGrey;
                    a {
                        padding-left:10px;
                    }
                    .price {
                        font-size:1.1em;
                    }
                    .commentLink {
                        float:right;
                    }
                    .saved {
                        color:@lightGrey;
                    }
                    .error {
                        color:@red;
                    }
                }
            }
            .load-more {
                .oswald(normal, 20px, 20px);
                padding:15px;
            }
        }
        .profile {
            padding:15px;
            .post {
                .border(5px, solid, @lightGrey);
                padding:10px;
            }
        }
    }
    .footer {
        background:@lightGrey;
        text-align:right;
        .oswald(normal, 20px, 25px);
        p {
            margin:0 auto;
            color:white;
        }
        a {
            display:inline;
            color:white;
        }
        a:hover {
            color:@blue;
        }
    }
}
.border(@size:1px, @style:solid, @color:black) {
    border:@size @style @color;
}
.backgroundColor(@color:white) {
    background-color: @color;
}
.backgroundImage(@img) {
    background-image: url('/@{img}');
}
@font-face {
    font-family: 'droid_serifregular';
    src: url('/fonts/droid-webfont.eot');
    src: url('/fonts/droid-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/droid-webfont.woff') format('woff'),
         url('/fonts/droid-webfont.ttf') format('truetype'),
         url('/fonts/droid-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'oswaldregular';
    src: url('/fonts/oswald-webfont.eot');
    src: url('/fonts/oswald-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/oswald-webfont.woff') format('woff'),
         url('/fonts/oswald-webfont.ttf') format('truetype'),
         url('/fonts/oswald-webfont.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('/fonts/roboto-webfont.eot');
    src: url('/fonts/roboto-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-webfont.woff') format('woff'),
         url('/fonts/roboto-webfont.ttf') format('truetype'),
         url('/fonts/roboto-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.droid(@weight:normal, @size:18px, @lineHeight:24px) {
    font-family:'droid_serifregular';
    font-weight:@weight;
    font-size:@size;
    line-height:@lineHeight;
}
.oswald(@weight:normal, @size:30px, @lineHeight:40px) {
    font-family:'oswaldregular';
    font-weight:@weight;
    font-size:@size;
    line-height:@lineHeight;
}
.roboto(@weight:normal, @size:16px, @lineHeight:20px) {
    font-family:'robotoregular';
    font-weight:@weight;
    font-size:@size;
    line-height:@lineHeight;
}
@media handheld, only screen and (max-width:720px) {
    .categories {
        display:none;
    }
    .container .nav #category-icon {
        display:inline-block;
        padding:7px;
    }
}