<template name="postSubmit">
    <form class="main">
        
        <div class="control-group">
            <label class="control-label" for="url">URL</label>
            <div class="controls">
                <input name="url" type="text" placeholder="URL" />
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input name="title" type="text" placeholder="Title" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="price">Price</label>
            <div class="controls">
                <input name="price" type="text" placeholder="Price" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
                <textarea name="description" type="text" />
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="category">Category</label>
            <div class="controls">
                <input name="category" type="text" placeholder="Category" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="image">Image</label>
            <div class="controls">
            <input name="image" type="text" placeholder="image" />
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</template>
