<template name="postPage">
    <div class="row">
        <a href="/" class="back eightcol">< Back</a>
    </div>
    <div class="posts eightcol">
        {{#with currentPost}}
            {{> postItem}}

            <ul class="comments">
                {{#each comments}}
                    {{> comment}}
                {{/each}}
            </ul>

            {{#if currentUser}}
                {{>commentSubmit}}
            {{else}}
                <p>Please log in to leave a comment.</p>
            {{/if}}
        {{/with}}
    </div>
    <div class="ads fourcol last">
        {{> ads}}
    </div>
</template>
