<template name="postSubmit">
    <form class="main">
        
        <div class="control-group">
            <label class="control-label" for="url">URL</label>
            <div class="controls">
                <input name="url" type="text" value="" placeholder="URL" />
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input name="title" type="text" value="" placeholder="Title" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <textarea name="description" type="text" value="" />
            </div>
        </div>

    </form>
</template>
