<template name="postItem">
    <div class="post">
        {{#if currentUserIsAdmin}}
            <a href="#" class="delete">Delete</a>
        {{/if}}
        <a href="{{url}}"><img src="{{image}}" /></a>
        <h3><a href="{{url}}">{{title}}</a></h3>
        <p>
            {{description}}
        </p>
        <div class="controls">
            <span class="price" href="{{url}}">${{price}}</span>
            <a href="{{url}}">Buy</a>
            <a href="#" class="share">Share</a>
            {{#if isSaved}}
                <a class="saved">Saved!</a>
            {{else}}
                <a href="#" class="save">Save</a>          
            {{/if}}
            <a class="commentLink" href="{{postPagePath this}}">{{pluralize commentsCount "comment"}}</a>            
        </div>
        {{#if isSharing}}
            {{> postShare}}
        {{/if}}
    </div>
</template>
