<template name="postItem">
    <div class="post">
        <img src="{{image}}" />
        <h3><a href="{{postPagePath this}}">{{title}}</a></h3>
        <p>
            {{description}}
            {{#if ownPost}}<a href="{{postEditPath this}}">Edit</a>{{/if}}
        </p>
        <div class="controls">
            <a class="price" href="{{url}}">${{price}}</a>
            <a href="#" class="share">Share</a>
            <a href="#" class="save">Save</a>
            <a href="{{postPagePath this}}">{{pluralize commentsCount "comment"}}</a>            
        </div>
    </div>
</template>
