<template name="about">
	<h3>About</h3>
	<p>Welcome to Chasing Seasons, the website for outdoor lovers. Here you will find cool outdoor products for guys, girls, pets, kids, and more. Five new products are posted everyday, and we will do our best to find the coolest and most useful outdoor gear out there. Check out the category tabs to get a bit more specific.</p>
	<p>We would love to hear some feedback on our site, and what we can do to make your experience better. Email us at info@chasingseasons.com.</p>
</template>